@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body {
    width: 100%;
    /* background: #E5E7EB; */
    background: #e8f6ef;
    position: relative;
    display: flex; /* Align in one row (two sections/elements aligned in rows) */
}

h3 {
    width: 100%;
    position: relative;
}

.submit-modal {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    top: -10px;
    left: 10px;
}

.display-pass-user-list {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-right: 50px;
    background-color: #554cd1;
}


.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 40px;
    right: 10px;
}

.menu li {
    display: block;
    background-color: grey;
}

.menu li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #000;
}

.menu li a:hover {
    background-color: #eee;
}



/* background on the menu */
#menu {
    /* background: #111827; */
    background: #071a3d;
    width: 300px;
    height: 100%;
    /* Make it stay on the side */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10; /* Bring this element to the front */
    
}

#menu .logo {
    /* Essentially put everything in one row */
    display: flex;/* Align in one row */
    align-items: center;/* Align in the middle */
    color: #fff; /* White color */
    padding: 30px 0 0 30px; /* Top, right, bottom, left */
}

/* Fix the logo width */
#menu .logo img{
    width: 40%;
    margin-right: 15px; /* Adding space between the logo and the list*/
}

#menu .items {
    margin-top:40px; /* Add space on the top*/
}

#menu .items li{
    list-style: none;
    padding: 15px 0;
    cursor: pointer;
    transition: 0.3s ease; /* Make the transition smooth */
    
    
}

/* Background color of the whole list item on hovering */
#menu .items li:hover{
    background-color: #253047; 
}

#menu .items li i{
    color: rgb(134, 141, 151);
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center; /* Align the icon in the middle */
    font-size: 14px; 
    margin: 0 10px 0 25px; /* Padding to the right and left to make it go from the wall on both sides*/
}

#menu .items li i:hover{
    cursor: pointer; /* Change the cursor to a hand */
}


/* On the SELECTED child, make the border left (only the first child). If we select dashboard, makes the left border white */
/* #menu .items li:nth-child(1){
    border-left: 4px solid #fff;
    
} */


/* #menu .items .menu-item:nth-child(1) {
    border-left: 4px solid #fff;
} */


/* Access the id for #add-border */
.add-border {
    border-left: 4px solid #fff;
}

/* #menu-item2 {
    border-left: 4px solid #fff;
}
#menu-item3 {
    border-left: 4px solid #fff;
}
#menu-item4 {
    border-left: 4px solid #fff;
}
#menu-item5 {
    border-left: 4px solid #fff;
} */



/* #menu .items RouterLink:nth-child(1){
    border-left: 4px solid #fff;
    
} */

/* change the color of icons if someone hovers on a list tag */
#menu .items li:hover i {
    color: #F3F4F6;
    
}

/* Text color on hover */
#menu .items li:hover a {
    color: #F3F4F6;


}

#menu .items li i a{
    text-decoration: none; /* Remove the underline */
    color: rgb(134, 141, 151); /* Make text grey */
    font-weight: 300px; /* Make text lighter */
    transition: 0.3s ease; /* Make the transition smooth */
}


#interface {
    width: calc(100% - 300px); /* Take the whole width and subtract 300px since that's the menubar */
    margin-left: 300px; /* Move the interface to the right and fix it*/
    position: relative;
}

/* Space between the searchbar and our PFP */
#interface .navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* justify-content: flex-end; */
    background: white;
    padding: 15px 30px;
    border-bottom: 3px solid #594ef7;
    position: fixed;
    width: calc(100% - 300px);
}

#interface .navigation .search {
    display: flex; /* both in one row */
    justify-content: flex-start; /* Align in the middle */
    align-items: center;
    padding: 10px 14px;
    border:1px solid #d7dbe6;
    border-radius: 4px;
}



/* Hidden search with the PFP still present. Be sure to also have the class unnormal-nav-space active*/
.hide-search {
    display: none;
}


/* From our input section, remove the border */
#interface .navigation .search input{
    border: none;
    outline: none;
    font-size: 14px;
}

/* Add more space between search icon and text */
#interface .navigation .search i{
    margin-right: 14px;
}

#interface .navigation .profile {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#interface .navigation .profile i{
    margin-right: 20px;
    font-size: 19px;
    font-weight: 400;
}

/* Width and height of img */
#interface .navigation .profile img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
}

.n1 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* Only displayed on tablets */
#menu-btn {
    display: none;
    color: #2b2b2b;
    font-size: 20px;
    cursor: pointer;
    margin-right: 20px;
}

/* Changing the style of our title */
.i-name {
    color: #444a53;
    padding: 30px 30px 0 30px;
    font-size: 24px;
    font-weight: 700;
    margin-top: 10px; /* Makes dashboard heading visible */
    position: relative;
    bottom: 20px;
}

/* Add Workout button */
.add-workout-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.add-workout {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #043906;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.5rem;
    text-shadow: 2px 2px #121212;
    transition: all 0.2s ease-in-out;
    box-shadow: 3px 3px #000000;
    z-index: 0;

    position: absolute;
    /* top: 50%; */
    right: 55%;
    top: 20%;
    transform: translate(55%, 20%); /* Moves the button to the center of the screen */
}

.add-workout i {
    display: inline-block;
    background-size: cover;
}

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;

}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9998;
}

.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: rgba(0,0,0,0.5); /*semi-transparent black*/

}

/* Modal */
.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.modal {
    background-color: #212121;
    color: white;
    padding: 60px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 5px 5px #000000;
    z-index: 99;
    width: 80%;
    max-width: 500px;
    height: 80%;
    max-height: 400px;
    
    transform: translate(20%, 0%);
    top: 0%;
    left: -30%;


}

.modal h2 {
    margin-top: 0;
}

.modal form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    text-align: left;
}

.modal label {
    font-size: 1.2rem;
    margin-bottom: 5px;
}



.modal input[type="text"],
.modal input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    background-color: #212121;
    color: white;
    font-size: 1.2rem;
    border: 1px solid white; /* Adds a border to the input */
}

.workoutValues {
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    max-width: 500px;
    width: 60%;
    margin-left: 600px;

    /* display: grid; */
    flex-wrap: wrap;
    justify-content: center; /* Center the boxes horizontally */
    align-items: center; /* Center the boxes vertically */
    white-space: pre-wrap; /* Preserve line breaks in the text */
}

.workoutValues p, .workoutValues div {
    display: block;
}

/* padding: 30px 30px 0 400px;
    
    margin-top: 40px; */

.modal input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #ff6262;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.2rem;
    text-shadow: 2px 2px #121212;
    transition: all 0.2s ease-in-out;
    box-shadow: 3px 3px #000000;
}

.modal input[type="submit"]:hover {
    background-color: #5059ff;
}
  
  

/* When we hover the class .add-workout */
.add-workout:hover {
    background-color: #2980b9;
    /* transform: scale(1.1); */
    cursor: pointer; /* Change the cursor to a hand */
}

.values {
    padding: 30px 30px 0 400px;
    display: flex; /* Align in one row */
    justify-content: space-between; /* Space between the boxes */
    align-items: center; /* Align in the middle */
    flex-wrap: wrap; /* If the screen is too small, wrap the boxes */
    margin-top: 40px;
    z-index: -9999;
}

.values .val-box {
    background: white;
    width: 235px;
    padding: 16px 20px; 
    border-radius: 5px;
    /* Text in one row */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.values .val-box i{
    font-size: 25px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    text-align: center;
    color: white;
    margin-right: 15px; /* Add space between the icon and the text */
}


/* The first icon's background color */
.values .val-box:nth-child(1) i {
    background: #7874EC;
}

/* 2nd */
.values .val-box:nth-child(2) i {
    background: #5C8AF0;
}

/* 3rd */
.values .val-box:nth-child(3) i {
    background: #E45D99;
}

/* 4th */
.values .val-box:nth-child(4) i {
    background: #74DAEC;
}

.values .val-box h3{
    font-size: 18px;
    font-weight: 600;
    z-index: 1;
}

.values .val-box span{
    font-size: 15px;
    color: grey;
}

.board {
    /* Border radius and background color */
    width: 69%;  /* Not 100% since we want to remove the slider on the bottom  94*/
    margin: 30px 0 30px 400px; /* Top, right, bottom, left */
    overflow: auto;
    background: white;
    border-radius: 8px;

    /* Position and transform */
    position: absolute;
    top: -40%;
    transform: translateY(40%);

    /* position: relative;
    top: 130px;  */

}

.board img {
    /* Fix the image on the table */
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 15px;
}

.board h5 {
    font-weight: 600;
    font-size: 14px;

}

.board p {
    font-weight: 400;
    font-size: 13px;
    color: gray;
}

.board .people {
    /* The text is in one row */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: start;
}

table {
    /* Remove the border of the table */
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid whitesmoke; /* Add a border on the bottom of each row */
}

thead td {
    /* Border on top and change the text */
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    background: #F9FAF8;
    text-align: start;
    padding: 15px;
}

tbody tr td {
    padding: 10px 15px; /* space from topbottom and leftright */
}

.active p {
    background: #d7fada;
    padding: 2px 10px; 
    display: inline-block; /* Make it in one row */
    border-radius: 40px; /* Make it round */
    color: #2b2b2b;
}

.edit a{
    text-decoration: none; /* Remove the underline */
    font-size: 14px;
    color: #554cd1;
    font-weight: 600;
}

.menuBar {
    display: none;  /* Hide the menu bar */
    position: fixed;
}



@media (max-width: 769px) {
    .menuBar {
        display: initial; /* Display the menu bar */
        cursor: pointer;
    }
    /* For an IPAD, change the settings */
    #menu {
        width: 270px;
        position: fixed;
        left: -270px;
        transition: 0.3s ease;
    }
    /* Adjusts it to move when the screen width changes */
    .add-workout {
        /* right: 5px; */
        right: 70%;
        top: 20%;
        transform: translate(70%, 20%); 
    }
    .workoutValues {
        right: -120%;
        top: 20%;
        transform: translate(-120%, 20%); 
    }
    /* active class */
    #menu.active{
        left: 0px;
    }
    /* Display the menu button for devices */
    #menu-btn {
        display: initial;
    }
    #interface {
        width: 100%;
        margin-left: 0px; /* Move the interface to the right and fix it*/
        display: inline-block;
        transition: 0.3s ease;
    }
    /* If our menu class is active, change the interface */
    #menu.active ~ #interface {
        /*270px was taken by our menu)*/
        width: calc(100% - 270px);
        margin-left: 270px;
        transition: 0.3s ease;
    }

    /* Space between the searchbar and our PFP */
    #interface .navigation {
        width: 100%;
    }
    .values {
        padding: 30px 30px 0 30px;
        justify-content: flex-start;
    }

    .values .val-box {
        padding: 16px 20px;
        margin: 10px 20px 10px 0;
    }

    
    .board {
        /* Border radius and background color */
        width: 92%;  /* Not 100% since we want to remove the slider on the bottom*/
        padding: 0px;
        overflow-x: auto;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }
    
}

/* For phones */
@media (max-width: 477px) {
    #interface .navigation {
        padding: 15px;
    }

    #interface .navigation .search input{
        width: 150px;
    }

    .i-name {
        padding: 30px 15px 0 15px;
    }
    /* Adjusts it to move when the screen width changes */

    .values {
        padding: 15px 15px 0 15px;
    }

    .values .val-box {
        width: 100%;
        margin: 8px 0;
    }

    .board {
        margin: 30px 15px 30px 15px;
    }
}

